<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Raleway+Dots&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Major+Mono+Display&family=Raleway+Dots&family=Tauri&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Major+Mono+Display&family=Orbitron&family=Raleway+Dots&family=Tauri&display=swap" rel="stylesheet">

    
    <title><%= title %></title>
    
    <link  rel="icon" href="/assets/icons8-headphones-30.png"

    type="image/png"
    sizes="32x32">