<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>
  <div class="studio-title"> 
    <h1>GLASS STUDIOS</h1> 
  </div>
  <h2>"Where Timeless Music Is Made"</h2> 
  <!-- <p> Our company takes pride in providing our clientele with the </p> -->
  <h3>(Log In To Book With Us)</h3> 



</main>

<%- include('./partials/footer') %>
