<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>
  <div class="studio-title"> 
    <h1>GLASS STUDIOS</h1> 
  </div>
  <h2>Log In To Book With Us</h2> 




</main>

<%- include('./partials/footer') %>
