<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>
  <div class="studio-title"> 
    <h1>GLASS STUDIOS</h1> 
  </div>
  <h2>"Where Timeless Music Is Made"</h2> 
  <p class="studio-message"> Our company welcomes you to come and express yourself in the studio that was made for you.  </p>
  <h3>(Log In To Book With Us)</h3> 



</main>

<%- include('./partials/footer') %>
