
/* .studio-title {
  display: flex;
  margin-top: 30px;
  font-size: 50px;
  /* font-family: 'Fuggles', cursive; */
  /* color: rgb(255, 255, 255);

} */ 

/* h2 {
  margin:auto;
  font-size: 45px;
  font-family: 'Fuggles', cursive;
  color: rgb(255, 255, 255);
} */