html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #000000;
  color: #ffffff;
  /* font-size: 20px; */
  /* Use a system font, if none are available use any found sans-sarif font */
  /* font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;   */
    /* this is the font for the links in the nav */
}


.studio-title {
  display: flex;
  margin-top: 30px;
  font-size: 50px;
  font-family: system-ui;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px #558ABB
}

h2 {
  margin:auto;
  font-size: 45px;
  font-family: 'Fuggles', cursive;
  color: rgb(255, 255, 255);
}
nav {
  display: flex;
  background-color: rgb(145, 223, 235);
  align-items: center;
  padding: 10px;
  min-height: 60px;
  /* width: 1; */
} 

/* nav a {
  padding: 20px;
}   */

.nav-link {
  padding: 25px ;
  font-size: 40px;
  font-family:'Fuggles', cursive; 
}

/* .nav-one {
  padding: 25px 10px;
}
.nav-two {
  padding: 25px 10px;
}
.nav-three{
  padding: 25px 10px;
} */



a {
  color: black;
  text-decoration: none;
}

.link-container {
  display: flex;
  margin-left: 30%;
  /* padding: 30px; */
  /* margin-right: 10%; */
  /* margin-inline-start: auto; */
} 


/* body > nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: flex-end ;
} */

/* nav > a {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
} */


main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

#logout-btn {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
}

#logout-btn:hover {
  cursor: pointer;
}


