<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sessions/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (user) { %>
  <form id="new-form" action="/sessions" method="POST">
    <div class="session-container">
      <div class="session-option">
    <label for="room-select">Rooms:</label>
    <select name="room" id="room-select">
      <option id="rooms" value="1">Room 1</option>
      <option value="2">Room 2</option>
      <option value="3">Room 3</option>
      <option value="4">Room 4</option>
      <option value="5">Room 5</option>
      <option value="6">Room 6</option>
      <option value="7">Room 7</option>
    </select>
    </div>
    <div class="session-option">
    <label for="drink-select">Drinks:</label>
    <select name="drink" id="drink-select">
      <option value="Bottled Water">Bottled Water</option>
      <option value="Sparkling Water">Sparkling Water</option>
      <option value="Tea">Tea</option>
      <option value="Coffee">Coffee</option>
    </select>
    </div>
    <div class="session-option">
    <label for="snack-select">Snacks:</label>
    <select name="snack" id="snack-select">
      <option value="Cookies">Cookies</option>
      <option value="Chips">Chips</option>
      <option value="Fruit Bowl">Fruit Bowl</option>
      <option value="Trail Mix">Trail Mix</option>
    </select>
   </div>
  <button type="submit" id="add-session-btn">Add to Session Package</button>
  </div>
  </form>
  <% } %>
</main>















<%- include("../partials/footer") %>